body, html, table { 
	height: 100%;
	width: 100%;
	background-color: #deede4;
}

td {
	font-family: arial;
	color: #333;
	width: 20%;
	height: 20%;
	padding: 10px;
	background-color: #ccddcc;
	/*border: 1px solid black;*/
	text-align: center;
}

#loading {
	display: inline;
    border: none;
    color: #ccddcc;
    background: transparent;
    padding: 5px 2px 0 2px;
    font-size: 150%;
}

.center {
	width: auto;
	height: 10%;
	background-color: #339966;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	vertical-align: center;
	text-align: center;
	font-size: 150%;
	color: #ccddcc;
}

.clicked {
	background-color: #339966;
}

a {
	text-transform: uppercase;
}
a:hover{
	text-transform: lowercase;
}

.line {
    display: inline;
    border: none;
    color: #ccddcc;
    background: transparent;
    border-bottom: 2px dotted black;
    padding: 5px 2px 0 2px;
    font-size: 150%;

}
 
.line:focus {
    outline: none;
    border-color: #51CBEE;
    font-size: 150%;
}

.line:hover {
	outline: none;
    border-color: #ccddcc;
    font-size: 150%;	
}

.save {
	display: inline;
	color: #ccddcc;
	background: transparent;
	border: none;
	border-bottom: 2px dotted black;
	font-size: 150%
}

.save:hover {
	cursor: pointer;
	outline: none;
    border-color: #ccddcc;
    font-size: 150%;
}

#notification {
	background-color: #ccddcc;
	color: #ccddcc;
}